:root{
    --mainBG: #f6f6f6;
    --panelBG: #e2e2e2;
    --mainRadius: 5px;
}

body{
    margin:0;
    background-color: var(--mainBG);
}

main{
    padding: 20px 0px 20px 260px;
}

div.left_panel{
    margin: 0;
    padding: 30px;
    background-color: var(--panelBG);
    position: fixed;
    width:160px;
    height: 100%;
    border-right: 5px solid rgb(212, 212, 212);
}
.left_panel p{
    font-size: 21px;
    transition-duration: 300ms;
    padding: 15px 0px 15px 5px;
    margin: 5px;
    border-radius: var(--mainRadius);
}
.left_panel p:hover{
    background-color: #cecece;
}
.left_panel p.selected{
    background-color: #c2c2c2;
}

.left_panel h2{
    font-size: 25px;
    margin-bottom: 40px;
}

a{
    color: black;
    text-decoration: none;
}

object{
    width: 900px;
    height: 1000px;
    display: none;
}

h1{
    font-size: 40px;
}

.grid-container{
    display: grid;
    column-gap: 50px;
}

.pdf-container{
    grid-column: 2 / span 3;
}

.list-container{
    min-width: 100px;
    grid-column: 1 / span 1;
    padding-top: 200px;
}

.pdf-list table{
    background-color: #eeeeee;
    border-radius: var(--mainRadius);
    border-spacing: 0;
}

.pdf-list td, tr{
    font-size: 22px;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding: 13px;
    width: 200px;
    
}
.pdf-list tr:hover{
    cursor: pointer;
    background-color: #dadada;
    transition: 300ms;
}